<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="text-dark header-title">
        <i class="fas fa-tachometer-alt"></i> Dashboard        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container-fluid">
    <ion-card class="my-3 bg-light">
      <ion-card-content class="p-3">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.overall }} </ion-card-title>
            <ion-card-subtitle>Overall Revenue</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>0.00</ion-card-title>
            <ion-card-subtitle>Expected Revenue</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.converted }}</ion-card-title>
            <ion-card-subtitle>Converted Revenue</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.converted_disc }}</ion-card-title>
            <ion-card-subtitle>Converted Prescription Discounts</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>0.00</ion-card-title>
            <ion-card-subtitle>Lost Amount</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.out_people }}</ion-card-title>
            <ion-card-subtitle>Out People</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.out_disc }}</ion-card-title>
            <ion-card-subtitle>Out Discounts</ion-card-subtitle>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-12 stat">
            <ion-card-title>{{ sales.profit }}</ion-card-title>
            <ion-card-subtitle>Profit</ion-card-subtitle>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="row">
      <div class="col-md-6 col-12">
        <ion-card>
          <ion-card-header class="pb-3 border-bottom">            
            <ion-card-title>Recently Added Medicines This Month</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="container-fluid mt-3 px-1">
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Drug Name</th>
                        <th>Batch No</th>
                        <th>Available Quantity</th>
                        <th>Expiry Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of drugs; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ p.drug_name }}</td>
                        <td>#{{ p.batch_no }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.expiry_date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-md-6 col-12">
        <ion-card>
          <ion-card-content>
            <ion-card-title>Expected Income Vs Converted Income</ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>