<ion-header>
  <ion-toolbar>
    <ion-title><i class="fas fa-tasks"></i> To Do Lists</ion-title>
    <ion-buttons slot="end">
      <button mat-button color="warn" (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container-fluid p-0">
    <ion-list-header class="bg-dark text-warning">
      <ion-label>List of Items</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Item Header</ion-label>
    </ion-item>
  </div>

</ion-content>