<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <i class="fas fa-shopping-cart"></i> Orders
      </ion-title>
      <button slot="end" mat-raised-button color="primary" class="me-3" routerLink="/newOrder">New Order</button>
    </ion-toolbar>
  </ion-header>

  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>Search Orders</mat-label>
          <input matInput (keyup)="applyOrderFilter($event)" placeholder="Ex. Dolo 650, Calpol" #input>
        </mat-form-field>            
      </div>     
    </div>

    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="ordersSource" class="w-100 border" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let row" class="text-center">{{ row.id }}</td>
            </ng-container>
  
            <ng-container matColumnDef="invInfo">
              <th mat-header-cell *matHeaderCellDef class="text-start">Invoice No</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.invoice_no }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="invDate">
              <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.order_date }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="customerInfo">
              <th mat-header-cell *matHeaderCellDef>Customer Info</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.guest_name }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
              <td mat-cell *matCellDef="let row">
                <p class="m-0">{{ row.mobile }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef>Total Amount</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.total_amount }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="amount_paid">
              <th mat-header-cell *matHeaderCellDef>Amount Paid</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.billing_amount }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="payment_mode">
              <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.payment_mode }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="transaction_id">
              <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
              <td mat-cell *matCellDef="let row">
                <p class="font-weight-bold m-0">{{ row.transaction_id }}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="viewInvoice(row.billing_id)">View Invoice</button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="ordersLength" [pageSize]="30"></mat-paginator>

      </div>
    </div>
        
  </div>

</ion-content>